body {
    background-image:url('/Users/Arvin/Desktop/DevBootCamp/Homework/Basic-Portfolio/assets/images/wood_pattern.png');
    background-repeat: repeat;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

#headerArea {
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#myName {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    padding: 7px;
    display: inline-block;
    left: 15%;
    position: relative;
}

#navigation {
    right: 15%;
    position: absolute;
    top: 40%;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #777777;
}

a:hover{
    color: #4aaaa5;
}

h1, h2 {
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

#mainBody {
    top: 100px;
    width: 960px;
    left: 13%;
    position: relative;
    background-color: #ffffff;
    padding: 30px;
}

#mainBodyTitle {
    margin: 0 auto;
    width: 90%;
    color: #4aaaa5;
    position: relative;
    border-bottom: 2px solid #dddddd;
}

#mainBodyContent {
    margin: 0 auto;
    padding: 20px;
    width: 95%;
    position: relative;
}

#profilePhoto {
    width: 180px;
    float: left;
    margin: 10px;
}

#aboutMeText {
    margin: 10px;
}

input[type=submit] {
    border: 0;
    padding: 10px 30px;
    background: #4aaaa5;
    color: #ffffff;
    transition: background-color 0.5s ease;
}

input[type=submit]:hover{
    background-color: #008B8B;
}

table {
    margin: 10px auto;
    border-spacing: 20px;
}

.imageContainer {
    position: relative;
    padding: 0px;
}

.imageBanner {
    float: left;
    position: absolute;
    left: 0px;
    top: 60%;
    z-index: 2;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color: #ffffff;
    padding: 0px;
    width: 100%;
    height: 20%;
    text-align: center;
    padding-top: 10px;
    transition: color 0.5s ease;
}

.imageBanner:hover {
    color: #777777;
}

#contactForm {
    margin: 0 auto;
    padding: 20px;
    width: 95%;
    position: relative;
    left: 5%;
}

#footerArea {
    background-color: #666666;
    position: fixed;
    left: 0;
    height: 80px;
    width: 100%;
    bottom: 0;
    border-top: 5px solid #4aaaa5;
    z-index: 3;
}